[submodule "sodabobby"]
	path = sodabobby
	url = https://github.com/catbanana/sodabobby
[submodule "javaboid"]
	path = javaboid
	url = https://github.com/catbanana/javaboid
[submodule "mash"]
	path = mosh
	url = https://github.com/mobile-shell/mosh
